<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatars</title>
    <link rel="stylesheet" href="../../palasio-design.css" />
  </head>
  <!-- <body class="dark-theme"> -->
  <body>
    <div class="container">
      <div class="avatar-with-text avatar-small">RY</div>
      <div class="avatar-with-text avatar-medium">RY</div>
      <div class="avatar-with-text avatar-large">RY</div>
    </div>
  </body>
</html>
