<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../Assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../Assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../Assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../../Assets/site.webmanifest" />
    <title>Palasio Designs</title>
    <link rel="stylesheet" href="../../prismjs/prism.css" />

    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../shared.css" />
    <link rel="stylesheet" href="../../documentation.css" />
    <script defer src="./alert.js"></script>

    <script defer src="../../app.js"></script>
  </head>
  <body>
    <!-- header -->
    <header class="card-with-shadow header-desktop">
      <div class="brand">
        <span class="brand__logo"><i class="bi bi-hurricane"></i></span>
        <span class="brand__text">PALASIO </span>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active-page">
            <a href="../../documentation.html">Documentation</a>
          </li>
          <li>
            <div class="theme-toggle">
              <input
                type="checkbox"
                class="theme-toggle__checkbox"
                id="theme-toggle"
              />
              <label class="theme-toggle__label" for="theme-toggle">
                <span> <i class="fas fa-moon"></i></span>
                <span> <i class="fas fa-sun"></i></span>
                <span class="ball"></span>
              </label>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <section class="documentation-section">
      <main class="documentation-section__main">
        <h1 class="title">Typography</h1>
        <p class="paragraph">Check out below text utilities.</p>
        <h3 class="subtitle">Heading</h3>
        <p class="paragraph">
          For heading you can use h1, h2, h3, h4, h5, h6 elements. The same
          font-styling is present for class names
          <span class="css-class"
            >heading-1, heading-2, heading-3, heading-4, heading-5,
            heading-6</span
          >
          class. You can add one of these classes to style the text.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>
          <div class="component-container__live-demo">
            <div>
              <h1 class="heading-1">Extend the sidebar h1</h1>
              <h2 class="heading-2">Extend the sidebar h2</h2>
              <h3 class="heading-3">Extend the sidebar h3</h3>
              <h4 class="heading-4">Extend the sidebar h4</h4>
              <h5 class="heading-5">Extend the sidebar h5</h5>
              <h6 class="heading-6">Extend the sidebar h6</h6>
            </div>

            <div class="component-container__code-snippet">
              <script type="text/plain" class="line-numbers language-markup">
                <!-- heading -->

                <h1 class="heading-1">Extend the sidebar h1</h1>
                <h2 class="heading-2">Extend the sidebar h2</h2>
                <h3 class="heading-3">Extend the sidebar h3</h3>
                <h4 class="heading-4">Extend the sidebar h4</h4>
                <h5 class="heading-5">Extend the sidebar h5</h5>
                <h6 class="heading-6">Extend the sidebar h6</h6>
              </script>
            </div>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Text Size</h3>
        <p class="paragraph">
          Text available in 3 different sizes. Add class
          <span class="css-class">regular, large, small</span> to get different
          text sizes.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <div>
              <p class="text-large">Extend the sidebar - Large</p>
              <p class="text-regular">Extend the sidebar - Regular</p>
              <p class="text-small">Extend the sidebar - small</p>
            </div>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- text sizes -->

              <p class="text-large">Extend the sidebar - Large</p>
              <p class="text-regular">Extend the sidebar - Regular</p>
              <p class="text-small">Extend the sidebar - small</p>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Text Styles</h3>
        <p class="paragraph">
          You can add the classes to text styles for your project needs. Add
          classes
          <span class="css-class"
            >text-bold, text-light, text-strike, text-grey, text-highlight,
            text-white, text-italic, text-primary, text-primary-dark,
            text-underline, text-center.</span
          >
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <div class="flex col gap">
              <p class="text-bold">Extend the sidebar</p>
              <p class="text-light">Extend the sidebar</p>
              <p class="text-strike">Extend the sidebar</p>
              <p class="text-grey">Extend the sidebar</p>
              <p class="text-highlight">Extend the sidebar</p>
              <p class="text-highlight text-white">Extend the sidebar</p>
              <p class="text-italic">Extend the sidebar</p>
              <p class="text-primary">Extend the sidebar</p>
              <p class="text-primary-dark">Extend the sidebar</p>
              <p class="text-underline">Extend the sidebar</p>
              <p class="text-center">Extend the sidebar</p>
            </div>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- text styles -->

              <p class="text-bold">Extend the sidebar</p>
              <p class="text-light">Extend the sidebar</p>
              <p class="text-strike">Extend the sidebar</p>
              <p class="text-grey">Extend the sidebar</p>
              <p class="text-highlight">Extend the sidebar</p>
              <p class="text-highlight text-white">Extend the sidebar</p>
              <p class="text-italic">Extend the sidebar</p>
              <p class="text-primary">Extend the sidebar</p>
              <p class="text-primary-dark">Extend the sidebar</p>
              <p class="text-underline">Extend the sidebar</p>
              <p class="text-center">Extend the sidebar</p>
            </script>
          </div>
        </div>
      </main>
      <!-- sidebar -->
      <aside class="documentation-section__aside">
        <div class="table-of-contents">
          <ul class="main-list">
            <li class="main-list__item">Get started</li>
            <li>
              <ul>
                <li><a href="../../documentation.html">Usage</a></li>
              </ul>
            </li>
            <li class="main-list__item">Components</li>
            <li>
              <ul>
                <li><a href="../alert/index.html">Alert</a></li>
                <li><a href="../avatar/index.html">Avatar</a></li>
                <li><a href="../badge/index.html">Badge</a></li>
                <li><a href="../button/index.html">Button</a></li>
                <li><a href="../card/index.html">Card</a></li>
                <li><a href="../image/index.html">Image</a></li>
                <li><a href="../input/index.html">Input</a></li>
                <li class="active"><a href="./index.html">Typography</a></li>
                <li><a href="../list/index.html">List</a></li>
                <li><a href="../navigation/index.html">Navigation</a></li>
                <li><a href="../modal/index.html">Modal</a></li>
                <li><a href="../rating/index.html">Rating</a></li>
                <li><a href="../toast/index.html">Toast</a></li>
                <li><a href="../grid/index.html">Grid</a></li>
                <li><a href="../slider/index.html">Slider</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
    </section>

    <!-- footer -->

    <footer class="footer">
      <h1 class="slogan">Make an impact and create something awesome.</h1>
      <div class="hr-line fad primary-invert"></div>

      <div class="social-links">
        <ul>
          <li>
            <a
              href="https://github.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/rahulyadav139/"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="promotion">
        Made with <i class="fas fa-heart"></i> by Rahul Yadav
      </div>
    </footer>
    <button
      class="menu-toggler menu-toggler-show btn icon large primary circle float bottom right"
    >
      <div>
        <div><i class="fas fa-angle-up"></i></div>
        <div><i class="fas fa-angle-down"></i></div>
      </div>
    </button>
    <button
      class="menu-toggler menu-toggler-hide btn icon large primary circle float bottom right"
    >
      <i class="fas fa-times"></i>
    </button>
    <script src="../../prismjs/prism.js"></script>
  </body>
</html>
