.main-section {
  margin: 3rem auto;
  display: grid;
  grid-template-areas: 'a b';
  padding: 1rem;
}
.main-section__left,
.main-section__right {
  padding: 1rem 8rem;
}
.main-section__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.main-section__right .brand__logo {
  border: none;
  font-size: 2.5rem;
  padding: 0;
}

.img-responsive {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
}

@media only screen and (max-width: 450px) {
  .main-section {
    grid-template-areas:
      'a'
      'b';
  }
}
