.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card {
  padding: 1rem;
  position: relative;
  background: var(--white-color);
}
.dark-theme .card {
  background: var(--dark-theme-bg-color);
}

/* e-com card */

.card.ecom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.card.ecom.sample {
  width: 15.5rem;
}

.ecom h1.brand {
  font-size: 1rem;
}
.ecom h2.title {
  font-size: 0.83rem;
}

.ecom .price {
  font-size: 0.83rem;
}

/* ribbon */

.card.ribbon {
  position: relative;
}

.card.ribbon::before {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  background: linear-gradient(135deg, var(--gradient-primary-color));
  top: 2.125rem;
  right: -0.625rem;
  transform: rotate(45deg);
  z-index: -1;
}
.card.ribbon::after {
  position: absolute;
  content: attr(ribbon-content);
  width: 5rem;
  padding: 0.3125rem;
  font-size: 0.625rem;
  line-height: 0.625rem;
  text-align: center;
  background: linear-gradient(45deg, var(--gradient-primary-color));
  color: var(--white-color);
  top: 1.5rem;
  right: -0.9rem;
  z-index: 1;
}
.ecom .image {
  position: relative;
}
.ecom .image img {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 1/1;
}

.ecom .btn:not(.icon) {
  font-size: 0.75rem;
}

.card.ecom .badge {
  position: absolute;
  font-size: 0.625rem;
  border-radius: 0.2rem;
  margin: 0.5rem;
  background: var(--primary-color-dark);
  color: var(--white-color);
  padding: 0.3rem;
  text-align: center;
}

.card.ecom .badge.highlight {
  background: linear-gradient(45deg, var(--red-bg-color));
  font-weight: bold;
}

.card.ecom .badge.top {
  top: 0;
}
.card.ecom .badge.bottom {
  bottom: 0;
}
.card.ecom .badge.left {
  left: 0;
}
.card.ecom .badge.right {
  right: 0;
}

.ecom .title {
  color: var(--grey-color);
}

.ecom .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.ecom .price .price__old {
  text-decoration: line-through;
  color: var(--grey-color);
}

.ecom .price .price__new {
  color: var(--primary-color-dark);
  font-weight: bold;
}

/* overlay */

.card .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .overlay p {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background: var(--off-white-color);
  border-radius: 0.5rem;
  color: var(--grey-color);
  font-size: 1.5rem;
  font-weight: bold;
}

/* text card */

.card.text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card.text h1.title {
  font-size: 2rem;
}

.promotional-card {
  max-width: 600px;
  margin: auto;
}
.card-with-dismiss {
  background: linear-gradient(45deg, var(--gradient-secondary-color));
  color: var(--white-color);
  position: relative;
  padding: 2.5rem;
  text-align: center;
  visibility: visible;
}

.card-with-dismiss .btn-dismiss {
  outline: none;
  border: none;
  background: transparent;
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* dismiss button */

.card.text .dismiss {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

/* social network card */

.card.social {
  width: 100%;
  max-width: 28rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card.social .image img {
  aspect-ratio: 4/3;
}

.social .user {
  font-size: 1.2rem;
  font-weight: bold;
}
.social .time {
  font-size: 0.75rem;
}

/* product detail card */

.card.product-detail {
  display: grid;
  grid-template-columns: 3fr 7fr;
}

.product-detail__text {
  padding: 1rem;
}
.product-detail .image img {
  aspect-ratio: 3/4;
}
.product-detail h1.brand {
  font-size: 1.5rem;
}
.product-detail h2.title {
  font-size: 1rem;
  font-weight: normal;
  color: var(--grey-color);
  margin: 0.325rem 0;
}
.product-detail .rating {
  padding: 0.325rem;
  font-size: 0.75rem;
  border: 1px solid var(--grey-color);
  width: fit-content;
  margin-bottom: 0.5rem;
}

.product-detail .price {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.325rem;
}

.product-detail .price__old {
  text-decoration: line-through;
  color: var(--grey-color);
}
.product-detail .price__new {
  font-weight: bold;
}
.product-detail .buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.product-detail .text-details {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.card.product-detail.vertical {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  width: 21rem;
}
.product-detail.vertical .image img {
  aspect-ratio: 16/9;
}

@media only screen and (max-width: 450px) {
  .card.product-detail {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .product-detail .image img {
    aspect-ratio: 16/9;
  }
}
