<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../palasio-design.css" />
    <link rel="stylesheet" href="../util.css" />
  </head>
  <body>
    <div class="card product-detail">
      <div class="image">
        <img
          class="image-responsive"
          src="../../Assets/stil-b4DtZhxJjPM-unsplash.jpg"
        />
      </div>
      <div class="product-detail__text">
        <h1 class="brand">ZAPATOZ</h1>
        <h2 class="title">Women White Sneakers</h2>
        <div class="rating">4.4 <i class="fas fa-star"></i> | 3.9k Ratings</div>
        <div class="hr-line solid grey"></div>
        <div class="price flex gap">
          <div class="price__old">$100</div>
          <div class="price__new">$80</div>
        </div>
        <div class="text-details">inclusive of all taxes</div>
        <div class="buttons">
          <button class="btn primary icon-with-text">
            Add to Cart <span><i class="fas fa-shopping-cart"></i></span>
          </button>
          <button class="btn outline primary">Wishlist</button>
        </div>
      </div>
    </div>
  </body>
</html>
