<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palasio Designs</title>

     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
      integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../../palasio-designs.css" />
    <link rel="stylesheet" href="../../shared.css" />
    <link rel="stylesheet" href="../../documentation.css" />

    <script defer src="./input.js"></script>
    <script defer src="../../app.js"></script>
    
  </head>
  <body>
    <!-- header -->
    <header class="header-desktop">
      <nav>
        <ul>
          <li>
            <div class="brand-logo">
              <i class="fas fa-angle-left"></i><i class="fas fa-globe"></i
              ><i class="fas fa-angle-right"></i>
            </div>
          </li>
          <li><a href="/">Home</a></li>
          <li class="active-page">
            <a href="./documentation.html">Documentation</a>
          </li>
        </ul>
      </nav>

      <div class="theme-toggle">
        <input
          type="checkbox"
          class="theme-toggle__checkbox"
          id="theme-toggle"
        />
        <label class="theme-toggle__label" for="theme-toggle">
          <span> <i class="fas fa-moon"></i></span>
          <span> <i class="fas fa-sun"></i></span>
          <span class="ball"></span>
        </label>
      </div>
    </header>

    <!-- main section -->

    <section class="documentation-section">
      <main class="documentation-section__main">
     
          <h1 class="title">Input</h1>
          <p class="paragraph">
            Inputs are necessary for user interaction with the website. Inputs
            are used to take information from the user, and then save the data
            to the server, accordingly.
          </p>
          <h3 class="subtitle">Responsive Input Field</h3>
          <p class="paragraph">
            The input shows response when it is in focus state. You can achieve
            that aby adding <span class="css-class">input-field</span> class to
            input element. This will work for text area tag too.
          </p>
          <div class="component-container">
            <div class="component-container__actions">
              <button
                class="active component-container__actions__btn-live-demo"
              >
                Live Demo</button
              ><button class="component-container__actions__btn-code-snippet">
                Code Snippet
              </button>
            </div>
            <div class="component-container__live-demo">
              <input class="input-field" type="text" />
              <textarea class="input-field" type="text"></textarea>
            </div>

            <div class="component-container__code-snippet">
             <pre>
               <code>
<!-- standard input field with focus effect -->

<input class="input-field" type="text" />
<textarea class="input-field" type="text"></textarea>
 
               </code>
             </pre>
            </div>
          </div>
          <div class="hr-line fad"></div>

          <h3 class="subtitle">Input on Error</h3>
          <p class="paragraph">
            If input field doesn't full fill validate condition, it shows error
            in response. You can achieve that by adding
            <span class="css-class">error</span> class to input field.
          </p>
          <div class="component-container">
            <div class="component-container__actions">
              <button
                class="active component-container__actions__btn-live-demo"
              >
                Live Demo</button
              ><button class="component-container__actions__btn-code-snippet">
                Code Snippet
              </button>
            </div>
            <div class="component-container__live-demo">
              <input class="input-field error" type="text" />
              <textarea class="input-field error" type="text"></textarea>
            </div>

            <div class="component-container__code-snippet">
              <pre>
                <code>
<!-- standard input field with error effect -->

<input class="input-field error" type="text" />
<textarea class="input-field error" type="text"></textarea>

                </code>

              </pre>
            </div>
          </div>
          <div class="hr-line fad"></div>
          <h3 class="subtitle">Input with Icon Label</h3>
          <p class="paragraph">
            Get input with icon as label by adding
            <span class="css-class">input-field-icon</span> to wrapper. You
            choose any font awesome/bootstrap icon for icon label.
          </p>
          <div class="component-container">
            <div class="component-container__actions">
              <button
                class="active component-container__actions__btn-live-demo"
              >
                Live Demo</button
              ><button class="component-container__actions__btn-code-snippet">
                Code Snippet
              </button>
            </div>
            <div class="component-container__live-demo">
              <div class="input-field-icon">
                <label
                  ><span class="icon small"><i class="bi bi-search"></i></span
                  ><input placeholder="Search" type="text"
                /></label>
              </div>
            </div>

            <div class="component-container__code-snippet">
              <pre>
                <code>
<!-- input field with icon label -->

<div class="input-field-icon">
  <label>
    <span class="icon small">
      <i class="bi bi-search"></i>
    </span>
    <input placeholder="Search" type="text"/>
  </label>
</div>


                </code>
              </pre>
            </div>
          </div>
       
      </main>
      <!-- sidebar -->
      <aside class="documentation-section__aside">
        <div class="table-of-contents">
          <ul class="main-list">
            <li>Get started</li>
            <li>
              <ul>
                <li><a href="../../documentation.html">Usage</a></li>
              </ul>
            </li>
            <li>Components</li>
            <li>
              <ul>
                <li><a href="../avatar/index.html">Avatar</a></li>
                <li><a href="../alert/index.html">Alert</a></li>
                <li><a href="../badge/index.html">Badge</a></li>
                <li><a href="../button/index.html">Button</a></li>
                <li><a href="../card/index.html">Card</a></li>
                <li><a href="../image/index.html">Image</a></li>
                <li><a href="./index.html">Input</a></li>
                <li><a href="">Text Utilities</a></li>
                <li><a href="">Lists</a></li>
                <li><a href="">Navigation</a></li>
                <li><a href="">Modal</a></li>
                <li><a href="">Rating</a></li>
                <li><a href="">Toast/Notify/Snackbar</a></li>
                <li><a href="">Grids</a></li>
                <li><a href="">Slider</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
    </section>

    <!-- footer -->

   <footer class="footer">
      <h1 class="slogan">Make an impact and create something awesome.</h1>
      <div class="hr-line fad primary-invert"></div>

      <div class="social-links">
        <ul>
          <li>
            <a href="https://github.com/rahulyadav139" target="_blank" rel="noopener noreferrer" class="icon medium white"
              ><i  class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/rahulyadav139" target="_blank" rel="noopener noreferrer" class="icon medium white"
              ><i  class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rahulyadav139/" target="_blank" rel="noopener noreferrer" class="icon medium white"
              ><i  class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="promotion">
        Made with <i class="fas fa-heart"></i> by Rahul Yadav
        </a>
      </div>
    </footer>
    <button class="menu-toggler menu-toggler-show btn icon large primary circle float bottom right"><div><div><i class="fas fa-angle-up"></i></div><div><i class="fas fa-angle-down"></i></div></div></button>
    <button class="menu-toggler menu-toggler-hide btn icon large primary circle float bottom right"><i class="fas fa-times"></i></button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  </body>
</html>
