.btn {
  outline: none;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background: var(--default-color);
  color: var(--white-color);
  border: 1.5px solid var(--default-color);
  font-size: inherit;
}
.btn:hover {
  background: var(--default-color-hover);
  border-color: var(--default-color-hover);
}

.btn.outline {
  background: transparent;
  color: var(--default-color);
  border-color: var(--default-color);
}
.btn.outline:hover {
  background: var(--default-color);
  color: var(--white-color);
  border-color: var(--default-color);
}

.btn.primary {
  background: var(--primary-color);
  border-color: var(--primary-color);
}
.btn.primary:hover {
  background: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

.btn.outline.primary {
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn.outline.primary:hover {
  background: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color);
}

.btn.secondary {
  background: var(--grey-color);
  border-color: var(--grey-color);
}
.btn.secondary:hover {
  background: var(--grey-color-hover);
  border-color: var(--grey-color-hover);
}
.btn.outline.secondary {
  background: transparent;
  color: var(--grey-color);
  border-color: var(--grey-color);
}
.btn.outline.secondary:hover {
  color: var(--white-color);
  border-color: var(--grey-color);
  background: var(--grey-color);
}

.btn.error {
  background: var(--red-color);
  border-color: var(--red-color);
}
.btn.error:hover {
  background: var(--red-color-dark);
  border-color: var(--red-color-dark);
}
.btn.outline.error {
  color: var(--red-color);
  border-color: var(--red-color);
  background: transparent;
}
.btn.outline.error:hover {
  color: var(--white-color);
  border-color: var(--red-color);
  background: var(--red-color);
}
.btn.success {
  background: var(--green-color);
  border-color: var(--green-color);
}
.btn.success:hover {
  background: var(--green-color-dark);
  border-color: var(--green-color-dark);
}
.btn.outline.success {
  color: var(--green-color);
  border-color: var(--green-color);
  background: transparent;
}
.btn.outline.success:hover {
  color: var(--white-color);
  border-color: var(--green-color);
  background: var(--green-color);
}
.btn.rounded-corner {
  border-radius: 0.5rem;
}
.btn.rounded-edge {
  border-radius: 1.5rem;
}

/* icon with text */

.btn.icon-with-text {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
}
.btn.icon-with-text span {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--default-color);
  background: var(--white-color);
  line-height: 0;
  height: 2.33rem;
  width: 2.33rem;
}
.dark-theme .btn.icon-with-text span {
  background: var(--dark-theme-bg-color);
}
.btn.icon-with-text.primary span {
  color: var(--primary-color);
}

.btn.icon-with-text.secondary span {
  color: var(--grey-color);
}
.btn.icon-with-text.error span {
  color: var(--red-color);
}
.btn.icon-with-text.success span {
  color: var(--green-color);
}
.btn.icon-with-text.rounded-corner span {
  border-radius: 0.5rem;
}

.btn.icon-with-text.rounded-edge span {
  border-radius: 1.5rem;
}

/* icon */

.btn.icon {
  padding: 0;
  background: none;
  color: var(--std-font-color);
  border: none;
}
.icon {
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--std-font-color);
  background: none;
  line-height: 0;
}
.icon.primary {
  color: var(--primary-color);
}
.icon.primary:hover {
  color: var(--primary-color-hover);
  background: none;
}
.icon.black {
  color: var(--black-color);
}
.icon.white {
  color: var(--white-color);
}
.icon.small {
  font-size: 1rem;
}
.icon.medium {
  font-size: 1.5rem;
}

.icon.large {
  font-size: 2rem;
}
.icon.small.square,
.icon.small.circle {
  width: 2rem;
  height: 2rem;
}
.icon.medium.square,
.icon.medium.circle {
  width: 3rem;
  height: 3rem;
}
.icon.large.square,
.icon.large.circle {
  width: 4rem;
  height: 4rem;
}

.icon.square,
.icon.circle {
  background: var(--std-font-color);
  color: var(--invert-font-color);
}
.icon.square.primary,
.icon.circle.primary {
  background: var(--primary-color);
  color: var(--white-color);
}
.icon.square.primary:hover,
.icon.circle.primary:hover {
  background: var(--primary-color-hover);
  color: var(--white-color);
}
.icon.square.black,
.icon.circle.black {
  background: var(--black-color);
  color: var(--white-color);
}
.icon.square.white,
.icon.circle.white {
  background: var(--white-color);
  color: var(--black-color);
}

.icon.rounded-corner {
  border-radius: 0.5rem;
}
.icon.circle {
  border-radius: 50%;
}
.icon.float {
  position: fixed;
  margin: 2rem;
  z-index: 15;
}
.icon.float.bottom {
  bottom: 0;
}
.icon.float.top {
  top: 0;
}
.icon.float.right {
  right: 0;
}
.icon.float.left {
  left: 0;
}

/* link */

a.link {
  color: var(--std-font-color);
  border-bottom: 1px solid var(--std-font-color);
}
a.link.primary {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
a.link.primary:hover {
  color: var(--primary-color-hover);
  border-bottom: 1px solid var(--primary-color-hover);
}
a.link.secondary {
  color: var(--grey-color);
  border-bottom: 1px solid var(--grey-color);
}
