<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../Assets/favicon.ico" />
    <title>Palasio Designs</title>

    <link rel="stylesheet" href="../../prismjs/prism.css" />

    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../shared.css" />
    <link rel="stylesheet" href="../../documentation.css" />

    <script defer src="./button.js"></script>
    <script defer src="../../app.js"></script>
  </head>
  <body>
    <!-- header -->
    <header class="card-with-shadow header-desktop">
      <div class="brand">
        <span class="brand__logo"><i class="bi bi-hurricane"></i></span>
        <span class="brand__text">PALASIO </span>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active-page">
            <a href="../../documentation.html">Documentation</a>
          </li>
          <li>
            <div class="theme-toggle">
              <input
                type="checkbox"
                class="theme-toggle__checkbox"
                id="theme-toggle"
              />
              <label class="theme-toggle__label" for="theme-toggle">
                <span> <i class="fas fa-moon"></i></span>
                <span> <i class="fas fa-sun"></i></span>
                <span class="ball"></span>
              </label>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- main section -->

    <section class="documentation-section">
      <main class="documentation-section__main">
        <h1 class="title">Button</h1>
        <p class="paragraph">
          This component library provides ample customization for you project.
          Button component comes in different style and use case as your project
          demands. Just provide required class to button component and make it
          styled for your project as you want.
        </p>
        <h3 class="subtitle">Default Button</h3>
        <p class="paragraph">
          Default button comes in flat style and dark color. You can get the
          default style just providing
          <span class="css-class">btn</span> class to the component.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>
          <div class="component-container__live-demo">
            <button class="btn">Default</button>
          </div>

          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- default button -->

              <button class="btn">Default</button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Types</h3>
        <p class="paragraph">
          This component library provides 4 different button types other than
          Default for different use cases. Primary, Secondary, Error, and
          Success and you can get these just by adding class
          <span class="css-class">primary, secondary, error, and success</span>
          respectively.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <button class="btn primary">Primary</button>
            <button class="btn secondary">Secondary</button>
            <button class="btn error">Error</button>
            <button class="btn success">Success</button>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- button types -->

              <button class="btn primary">Primary</button>
              <button class="btn secondary">Secondary</button>
              <button class="btn error">Error</button>
              <button class="btn success">Success</button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Shapes</h3>
        <p class="paragraph">
          By default, the button component comes with a flat shape but you get
          two more rounded corners and rounded edges by adding
          <span class="css-class">rounded-corner</span> and
          <span class="css-class">rounded-edge</span> to the button component
          respectively.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <button class="btn primary">Primary</button>
            <button class="btn primary rounded-corner">Primary</button>
            <button class="btn primary rounded-edge">Primary</button>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- button shapes -->

              <button class="btn primary">Primary</button>
              <button class="btn primary rounded-corner">Primary</button>
              <button class="btn primary rounded-edge">Primary</button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Outline</h3>
        <p class="paragraph">
          Get outline button by adding
          <span class="css-class">outline</span> class.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo
            </button>
            <button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <button class="btn primary outline">Primary</button>
            <button class="btn primary outline rounded-corner">Primary</button>
            <button class="btn primary outline rounded-edge">Primary</button>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- outline button -->

              <button class="btn primary outline">Primary</button>
              <button class="btn primary outline rounded-corner">Primary</button>
              <button class="btn primary outline rounded-edge">Primary</button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Button with Icon and Text</h3>
        <p class="paragraph">
          Sometimes you need a button with an icon and label. You can get by
          adding class <span class="css-class">icon-with-text</span>. You can
          use any font-awesome/bootstrap icon. Make sure you place an icon on
          the right side of the button.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <button class="btn rounded-corner icon-with-text">
              Add To Cart
              <span><i class="fas fa-shopping-cart"></i></span>
            </button>
            <button class="btn rounded-edge primary icon-with-text">
              Add To Cart
              <span><i class="fas fa-shopping-cart"></i></span>
            </button>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- button with icon and text -->

              <button class="btn rounded-corner icon-with-text">
                Add To Cart
                <span><i class="fas fa-shopping-cart"></i></span>
              </button>

              <button class="btn rounded-edge primary icon-with-text">
                Add To Cart
                <span><i class="fas fa-shopping-cart"></i></span>
              </button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>

        <h3 class="subtitle">Button with Icon</h3>
        <p class="paragraph">
          When you need an icon as a button, this library provides it also. An
          icon comes in 3 different sizes and 2 different shapes. You can get
          any size by adding <span class="css-class">small</span>,
          <span class="css-class">medium</span>, or
          <span class="css-class">large</span> class. By default, the icon has
          no background shape but you can get any of the two shapes by adding
          <span class="css-class">circle</span> or
          <span class="css-class">square</span> class to the component. There
          are 3 more classes <span class="css-class">primary</span>,
          <span class="css-class">black</span> and
          <span class="css-class">white</span>. When you need an icon according
          to your accent color you can add primary class to the component. When
          there is white background and you need to fix the icon as black always
          even in the dark theme you can add black class to the component.
          Similarly with black background, you can add white class to the
          component.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <button class="btn icon small">
              <i class="fas fa-shopping-cart"></i>
            </button>
            <button class="btn icon medium">
              <i class="fas fa-shopping-cart"></i>
            </button>
            <button class="btn icon large">
              <i class="fas fa-shopping-cart"></i>
            </button>
            <button class="btn icon large circle primary">
              <i class="fas fa-shopping-cart"></i>
            </button>
            <button class="btn icon large square primary">
              <i class="fas fa-shopping-cart"></i>
            </button>
            <button class="btn icon large square rounded-corner primary">
              <i class="fas fa-shopping-cart"></i>
            </button>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- button icons -->

              <button class="btn icon small">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Floating Action Button</h3>
        <p class="paragraph">
          You can use icon as float on the screen. Just add
          <span class="css-class">float</span> class and align with
          <span class="css-class">top, bottom, left, right</span>
          classes.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <button id="test-fab" class="btn">Test Now</button>

            <button
              id="test-fab-icon"
              class="btn icon medium float bottom left circle"
            >
              <i class="fas fa-snowman"></i>
            </button>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              !-- floating action button -->

              <button class="btn icon medium float bottom left circle">
                <i class="fas fa-snowman"></i>
              </button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>

        <h3 class="subtitle">Disable Button</h3>
        <p class="paragraph">
          If you want to style disabled button then add
          <span class="css-class">disable</span> to the button and you are good
          to go.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <button class="btn disable primary">Disable</button>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- disable button -->

              <button class="btn disable">
                <i class="fas fa-snowman"></i>
              </button>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>
        <h3 class="subtitle">Link</h3>
        <p class="paragraph">
          You can customize the link too. When you need an icon as a link, you
          add classes to get what you desire. Customization for an icon as a
          link is similar to an icon as a button but for semantic HTML you need
          to provide classes to the anchor tag. Sometimes you need a simple
          link, you get by adding
          <span class="css-class">link</span> to the anchor tag. With matching
          to accent color to the theme add
          <span class="css-class">primary</span> class. When you faded color as
          link text then add <span class="css-class">secondary</span> class.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <a class="icon medium" href="https://www.google.com/">
              <i class="fab fa-google"></i>
            </a>
            <a class="icon medium square" href="https://www.google.com/">
              <i class="fab fa-google"></i>
            </a>

            <a
              class="icon medium square rounded-corner"
              href="https://www.google.com/"
            >
              <i class="fab fa-google"></i>
            </a>
            <a
              class="icon medium circle primary"
              href="https://www.google.com/"
            >
              <i class="fab fa-google"></i>
            </a>
            <a class="link" href="https://www.google.com/">default link</a>
            <a class="link primary" href="https://www.google.com/">
              primary link
            </a>
            <a class="link secondary" href="https://www.google.com/">
              secondary link
            </a>
          </div>
          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- icon link -->

              <a class="icon medium" href="https://www.google.com/">
                <i class="fab fa-google"></i>
              </a>

              <!-- standard link -->

              <a class="link" href="https://www.google.com/">default link</a>

              <a class="link primary" href="https://www.google.com/">primary link</a>

              <a class="link secondary" href="https://www.google.com/">secondary link</a>
            </script>
          </div>
        </div>
      </main>

      <!-- sidebar -->
      <aside class="documentation-section__aside">
        <div class="table-of-contents">
          <ul class="main-list">
            <li class="main-list__item">Get started</li>
            <li>
              <ul>
                <li><a href="../../documentation.html">Usage</a></li>
              </ul>
            </li>
            <li class="main-list__item">Components</li>
            <li>
              <ul>
                <li><a href="../alert/index.html">Alert</a></li>
                <li><a href="../avatar/index.html">Avatar</a></li>
                <li><a href="../badge/index.html">Badge</a></li>
                <li class="active"><a href="./index.html">Button</a></li>
                <li><a href="../card/index.html">Card</a></li>
                <li><a href="../image/index.html">Image</a></li>
                <li><a href="../input/index.html">Input</a></li>
                <li><a href="../typography/index.html">Typography</a></li>
                <li><a href="../list/index.html">List</a></li>
                <li><a href="../navigation/index.html">Navigation</a></li>
                <li><a href="../modal/index.html">Modal</a></li>
                <li><a href="../rating/index.html">Rating</a></li>
                <li><a href="../toast/index.html">Toast</a></li>
                <li><a href="../grid/index.html">Grid</a></li>
                <li><a href="../slider/index.html">Slider</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
    </section>

    <!-- footer -->

    <footer class="footer">
      <h1 class="slogan">Make an impact and create something awesome.</h1>
      <div class="hr-line fad primary-invert"></div>

      <div class="social-links">
        <ul>
          <li>
            <a
              href="https://github.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/rahulyadav139/"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="promotion">
        Made with <i class="fas fa-heart"></i> by Rahul Yadav
      </div>
    </footer>
    <button
      class="menu-toggler menu-toggler-show btn icon large primary circle float bottom right"
    >
      <div>
        <div><i class="fas fa-angle-up"></i></div>
        <div><i class="fas fa-angle-down"></i></div>
      </div>
    </button>
    <button
      class="menu-toggler menu-toggler-hide btn icon large primary circle float bottom right"
    >
      <i class="fas fa-times"></i>
    </button>
    <script src="../../prismjs/prism.js"></script>
  </body>
</html>
