/* avatar with picture */

.avatar-with-image img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 1/1;
}
.avatar-with-image.small img {
  border: 2px solid var(--primary-color-dark);
}
.avatar-with-image.medium img {
  border: 3px solid var(--primary-color-dark);
}
.avatar-with-image.large img {
  border: 4px solid var(--primary-color-dark);
}
.avatar-with-image.small,
.avatar-with-text.small {
  width: 3rem;
  height: 3rem;
}

.avatar-with-image.medium,
.avatar-with-text.medium {
  width: 6.25rem;
  height: 6.25rem;
}
.avatar-with-image.large,
.avatar-with-text.large {
  width: 9.5rem;
  height: 9.5rem;
}

/* avatar with text */

.avatar-with-text {
  background: var(--primary-color-dark);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  border-radius: 50%;
}
.avatar-with-text.small {
  font-size: 1rem;
}
.avatar-with-text.medium {
  font-size: 2.5rem;
}
.avatar-with-text.large {
  font-size: 4rem;
}
