<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../Assets/favicon.ico" />
    <title>Palasio Designs</title>

    <link rel="stylesheet" href="../../prismjs/prism.css" />

    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../shared.css" />
    <link rel="stylesheet" href="../../documentation.css" />

    <script defer src="./toast.js"></script>
    <script defer src="../../app.js"></script>
  </head>
  <body>
    <!-- header -->
    <header class="card-with-shadow header-desktop">
      <div class="brand">
        <span class="brand__logo"><i class="bi bi-hurricane"></i></span>
        <span class="brand__text">PALASIO </span>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active-page">
            <a href="../../documentation.html">Documentation</a>
          </li>
          <li>
            <div class="theme-toggle">
              <input
                type="checkbox"
                class="theme-toggle__checkbox"
                id="theme-toggle"
              />
              <label class="theme-toggle__label" for="theme-toggle">
                <span> <i class="fas fa-moon"></i></span>
                <span> <i class="fas fa-sun"></i></span>
                <span class="ball"></span>
              </label>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- main section -->

    <section class="documentation-section">
      <main class="documentation-section__main">
        <h1 class="title">Toast</h1>
        <p class="paragraph">
          Push notifications to your visitors with a toast, a lightweight and
          easily customizable alert message.
        </p>
        <h3 class="subtitle">Toast Based on the Situation</h3>
        <p class="paragraph">
          This library provides 3 different types of toasts. Add class
          <span class="css-class">success, danger, loading</span> to get desired
          one for your project.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>

          <div class="component-container__live-demo">
            <div>
              <div class="toast success show-mode">
                <span class="icon small white"
                  ><i class="fas fa-bell"></i
                ></span>
                Saved
              </div>
              <div class="toast danger show-mode">
                <span class="icon small white"
                  ><i class="fas fa-bell"></i
                ></span>
                Not Saved! Try again later.
              </div>
              <div class="toast loading show-mode">
                <span class="icon small white"
                  ><i class="fas fa-bell"></i
                ></span>
                Saving to server...
              </div>

              <div id="toast" class="toast success hidden">
                <span class="icon small white"
                  ><i class="fas fa-bell"></i
                ></span>
                Saved
              </div>

              <div class="flex center">
                <button class="btn toast-test">Test Toast</button>
              </div>
            </div>
          </div>

          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- toast based on the situation -->
              <div class="toast danger">
                <span class="icon small white"><i class="fas fa-bell"></i></span>
                Not Saved! Try again later.
              </div>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>

        <h3 class="subtitle">Toast with Dismiss Button</h3>
        <p class="paragraph">
          This toast has dismiss button. It doesn't disappear automatically,
          user needs to dismiss it. Copy HTML to get this.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>
          <div class="component-container__live-demo">
            <div class="snackbar shadow hidden">
              <p>Can't send photo. Retry in 5 seconds.</p>
              <div class="buttons">
                <button>RETRY</button>
                <button class="btn icon medium white btn-snackbar-dismiss">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>

            <button class="btn snackbar-test">Test Snackbar</button>
          </div>

          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- standard toast -->

              <div class="snackbar shadow">
                <p>Can't send photo. Retry in 5 seconds.</p>
                <div class="buttons">
                  <button>RETRY</button>
                  <button class="btn icon medium white btn-snackbar-dismiss">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </script>
          </div>
        </div>
      </main>
      <!-- sidebar -->
      <aside class="documentation-section__aside">
        <div class="table-of-contents">
          <ul class="main-list">
            <li class="main-list__item">Get started</li>
            <li>
              <ul>
                <li><a href="../../documentation.html">Usage</a></li>
              </ul>
            </li>
            <li class="main-list__item">Components</li>
            <li>
              <ul>
                <li><a href="../alert/index.html">Alert</a></li>
                <li><a href="../avatar/index.html">Avatar</a></li>
                <li><a href="../badge/index.html">Badge</a></li>
                <li><a href="../button/index.html">Button</a></li>
                <li><a href="../card/index.html">Card</a></li>
                <li><a href="../image/index.html">Image</a></li>
                <li><a href="../input/index.html">Input</a></li>
                <li><a href="../typography/index.html">Typography</a></li>
                <li><a href="../list/index.html">List</a></li>
                <li><a href="../navigation/index.html">Navigation</a></li>
                <li><a href="../modal/index.html">Modal</a></li>
                <li><a href="../rating/index.html">Rating</a></li>
                <li class="active"><a href="./index.html">Toast</a></li>
                <li><a href="../grid/index.html">Grid</a></li>
                <li><a href="../slider/index.html">Slider</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
    </section>

    <!-- footer -->

    <footer class="footer">
      <h1 class="slogan">Make an impact and create something awesome.</h1>
      <div class="hr-line fad primary-invert"></div>

      <div class="social-links">
        <ul>
          <li>
            <a
              href="https://github.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/rahulyadav139/"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="promotion">
        Made with <i class="fas fa-heart"></i> by Rahul Yadav
      </div>
    </footer>
    <button
      class="menu-toggler menu-toggler-show btn icon large primary circle float bottom right"
    >
      <div>
        <div><i class="fas fa-angle-up"></i></div>
        <div><i class="fas fa-angle-down"></i></div>
      </div>
    </button>
    <button
      class="menu-toggler menu-toggler-hide btn icon large primary circle float bottom right"
    >
      <i class="fas fa-times"></i>
    </button>
    <script src="../../prismjs/prism.js"></script>
  </body>
</html>
