.toast {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--white-color);
  margin: 1rem;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  transition: all 0.5s ease-in-out;
}
.toast.success {
  background: linear-gradient(270deg, var(--green-bg-color));
}
.toast.danger {
  background: linear-gradient(45deg, var(--red-bg-color));
}
.toast.loading {
  background: linear-gradient(45deg, var(--blue-bg-color));
}

.show-mode {
  position: static;
  transform: translateX(0%);
}

.hidden {
  visibility: hidden;
}

/* snackbar */

.snackbar {
  width: 60%;
  padding: 1rem;
  background-color: #212121;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px 1px black;
  color: white;
  border-radius: 5px;
  z-index: 15;
}
.buttons button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  vertical-align: middle;
}
.buttons button:first-child {
  color: var(--white-color);
}
