@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif; */

  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #db9ee5;
  --primary-color-dark: #b762c1;
  --primary-color-light: #f0c0f4;

  --secondary-color: #325288;
  --secondary-color-light: #98bae7;

  --gradient-primary-color: #b762c1, #f0c0f4;
  --gradient-primary-color-hover: #f0c0f4, #b762c1;

  --black-color: #191919;
  --grey-color: #9d9d9d;
  --white-color: #ffffff;
  --off-white-color: #f7f7f7;

  --dark-theme-bg-color: #2a2b30;

  /* alert colors */

  --default-alert-bg-color: #eeeeee;
  --default-alert-color: #9d9d9d;
  --success-alert-bg-color: #baffb4;
  --success-alert-color: #557c55;
  --info-alert-bg-color: #d6e5fa;
  --info-alert-color: #1572a1;
  --danger-alert-bg-color: #fcd2d1;
  --danger-alert-color: #911f27;
  --warning-alert-bg-color: #fdfbdd;
  --warning-alert-color: #ffc600;
}
.old-colors {
  /* --gradient-primary-color: #fc6c04, #e13d00;
  --gradient-primary-hover-color: #e13d00, #fc6c04; */
  /* --gradient-secondary-color: #23424a, #00827b;
  --gradient-secondary-hover-color: #00827b, #23424a; */
  /* --primary-color: #fc6c04; */
  /* --primary-color-light: #ff7d1f; */
  /* --primary-color-dark: #e13d00;
  --primary-color-very-light: #fed2aa; */
  /* --black-color: #040303; */
  /* --secondary-color-dark: #23424a;
  --secondary-color: #00827b; */
  /* --primary-color: #d96098; */
  /* --primary-color-light: #fed1ef; */
  /* --dark-theme-bg-color: #292c35; */
  color: white;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: initial;
}
.dark-theme a {
  color: var(--white-color);
}
html {
  font-size: 100%;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 62.5%;
  }
}

/* temp */

.card-with-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-responsive {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
}
.img-round {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
