body {
  color: var(--black-color);
  background: var(--white-color);
  --std-font-color: var(--black-color);
  --invert-font-color: var(--white-color);
  --default-color: var(--secondary-color);
  --default-color-hover: var(--secondary-color-dark);

  /* --font-color-light: var(--grey-color);
  --font-color-dark: var(--black-color);

  --font-color-complimentary-hover: var(--primary-color-dark);
  --btn-text-color: var(--white-color);
  --btn-badge-bg-color: var(--white-color);

  --icon-color: var(--white-color);
  --invert-background-color: var(--black-color);
  --background-color: var(--white-color);
  */
}

body.dark-theme {
  color: var(--white-color);
  background: var(--dark-theme-bg-color);
  --std-font-color: var(--white-color);
  --invert-font-color: var(--black-color);
  --default-color: var(--secondary-color-light);

  /* --font-color-light: var(--off-white-color);
  --font-color-dark: var(--white-color);
  --btn-text-color: var(--black-color);
  --btn-badge-bg-color: var(--black-color);


  --icon-color: var(--black-color);
  --invert-background-color: var(--white-color);
  --background-color: var(--black-color); */
}
