body {
  color: var(--black-color);
  background: var(--white-color);
  --std-font-color: var(--black-color);
  --invert-font-color: var(--white-color);
  --default-color: var(--secondary-color);
  --default-color-hover: var(--secondary-color-dark);
}

body.dark-theme {
  color: var(--white-color);
  background: var(--dark-theme-bg-color);
  --std-font-color: var(--white-color);
  --invert-font-color: var(--black-color);
  --default-color: var(--secondary-color-light);
}
