<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palasio Designs</title>

    <link rel="stylesheet" href="../../prismjs/prism.css" />

    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../shared.css" />
    <link rel="stylesheet" href="../../documentation.css" />

    <script defer src="./input.js"></script>
    <script defer src="../../app.js"></script>
  </head>
  <body>
    <!-- header -->
    <header class="header-desktop">
      <nav>
        <ul>
          <li>
            <div class="brand-logo">
              <i class="fas fa-angle-left"></i><i class="fas fa-globe"></i
              ><i class="fas fa-angle-right"></i>
            </div>
          </li>
          <li><a href="/">Home</a></li>
          <li class="active-page">
            <a href="./documentation.html">Documentation</a>
          </li>
        </ul>
      </nav>

      <div class="theme-toggle">
        <input
          type="checkbox"
          class="theme-toggle__checkbox"
          id="theme-toggle"
        />
        <label class="theme-toggle__label" for="theme-toggle">
          <span> <i class="fas fa-moon"></i></span>
          <span> <i class="fas fa-sun"></i></span>
          <span class="ball"></span>
        </label>
      </div>
    </header>

    <!-- main section -->

    <section class="documentation-section">
      <main class="documentation-section__main">
        <h1 class="title">Navigation</h1>
        <p class="paragraph">
          A navigation bar is a section of a graphical user interface intended
          to aid visitors in accessing information.
        </p>
        <h3 class="subtitle">Navigation for E-commerce Website</h3>
        <p class="paragraph">
          An e-commerce website navigation bar is designed based on the user's
          needs like cart, wishlist etc. Copy html code to get the navigation
          for your project.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>
          <div class="component-container__live-demo">
            <!-- navigation code -->
            <nav class="nav-bar shadow">
              <div class="brand-logo">
                <i class="fas fa-angle-left"></i><i class="fas fa-globe"></i
                ><i class="fas fa-angle-right"></i>
              </div>

              <div class="input-field-icon">
                <label
                  ><span class="icon small"><i class="bi bi-search"></i></span
                  ><input placeholder="Search" type="text"
                /></label>
              </div>

              <div>
                <ul>
                  <li>
                    <div class="badge-container">
                      <button class="btn icon medium primary badge-counter">
                        <i class="fas fa-heart"></i>
                      </button>
                      <span class="badge-number">10</span>
                    </div>
                  </li>
                  <li>
                    <div class="badge-container">
                      <button class="btn icon medium primary badge-counter">
                        <i class="fas fa-shopping-cart"></i>
                      </button>
                      <span class="badge-number">10</span>
                    </div>
                  </li>
                  <li>
                    <div class="avatar small">
                      <img src="https://picsum.photos/536/354" alt="sample" />
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- e-commerce website navigation -->
              <nav class="nav-bar shadow">
                <div class="brand-logo">
                  <i class="fas fa-angle-left"></i><i class="fas fa-globe"></i
                  ><i class="fas fa-angle-right"></i>
                </div>

                <div class="input-field-icon">
                  <label
                    ><span class="icon small"><i class="bi bi-search"></i></span
                    ><input placeholder="Search" type="text"
                  /></label>
                </div>

                <div>
                  <ul>
                    <li>
                      <div class="badge-container">
                        <button class="btn icon medium primary badge-counter">
                          <i class="fas fa-heart"></i>
                        </button>
                        <span class="badge-number">10</span>
                      </div>
                    </li>
                    <li>
                      <div class="badge-container">
                        <button class="btn icon medium primary badge-counter">
                          <i class="fas fa-shopping-cart"></i>
                        </button>
                        <span class="badge-number">10</span>
                      </div>
                    </li>
                    <li>
                      <div class="avatar small">
                        <img src="" alt="" />
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            </script>
          </div>
        </div>
        <div class="hr-line fad"></div>

        <h3 class="subtitle">Navigation for Social Media Website</h3>
        <p class="paragraph">
          This library also provides navigation bar for your social media
          project. This navigation bar contains notification to get user
          updated.
        </p>
        <div class="component-container">
          <div class="component-container__actions">
            <button class="active component-container__actions__btn-live-demo">
              Live Demo</button
            ><button class="component-container__actions__btn-code-snippet">
              Code Snippet
            </button>
          </div>
          <div class="component-container__live-demo">
            <nav class="nav-bar shadow">
              <div class="brand-logo">
                <i class="fas fa-angle-left"></i><i class="fas fa-globe"></i
                ><i class="fas fa-angle-right"></i>
              </div>

              <div class="input-field-icon">
                <label
                  ><span class="icon small"><i class="bi bi-search"></i></span
                  ><input placeholder="Search" type="text"
                /></label>
              </div>

              <div>
                <ul>
                  <li>
                    <div class="badge-container">
                      <button class="btn icon medium primary badge-counter">
                        <i class="fas fa-bell"></i>
                      </button>
                      <span class="badge-number">10</span>
                    </div>
                  </li>
                  <li>
                    <div class="avatar small">
                      <img src="https://picsum.photos/536/354" alt="sample" />
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>

          <div class="component-container__code-snippet">
            <script type="text/plain" class="line-numbers language-markup">
              <!-- social media website navigation -->
              <nav class="nav-bar shadow">
                <div class="brand-logo">
                  <i class="fas fa-angle-left"></i><i class="fas fa-globe"></i
                  ><i class="fas fa-angle-right"></i>
                </div>

                <div class="input-field-icon">
                  <label
                    ><span class="icon small"><i class="bi bi-search"></i></span
                    ><input placeholder="Search" type="text"
                  /></label>
                </div>

                <div>
                  <ul>
                   <li>
                    <div class="badge-container">
                      <button class="btn icon medium primary badge-counter">
                        <i class="fas fa-bell"></i>
                      </button>
                      <span class="badge-number">10</span>
                    </div>
                  </li>
                  </ul>
                </div>
              </nav>
            </script>
          </div>
        </div>
      </main>
      <!-- sidebar -->
      <aside class="documentation-section__aside">
        <div class="table-of-contents">
          <ul class="main-list">
            <li>Get started</li>
            <li>
              <ul>
                <li><a href="../../documentation.html">Usage</a></li>
              </ul>
            </li>
            <li>Components</li>
            <li>
              <ul>
                <li><a href="../alert/index.html">Alert</a></li>
                <li><a href="../avatar/index.html">Avatar</a></li>
                <li><a href="../badge/index.html">Badge</a></li>
                <li><a href="../button/index.html">Button</a></li>
                <li><a href="../card/index.html">Card</a></li>
                <li><a href="../image/index.html">Image</a></li>
                <li><a href="../input/index.html">Input</a></li>
                <li><a href="../typography/index.html">Typography</a></li>
                <li><a href="../list/index.html">List</a></li>
                <li class="active"><a href="./index.html">Navigation</a></li>
                <li><a href="../modal/index.html">Modal</a></li>
                <li><a href="../rating/index.html">Rating</a></li>
                <li><a href="../toast/index.html">Toast</a></li>
                <li><a href="../grid/index.html">Grid</a></li>
                <li><a href="../slider/index.html">Slider</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
    </section>

    <!-- footer -->

    <footer class="footer">
      <h1 class="slogan">Make an impact and create something awesome.</h1>
      <div class="hr-line fad primary-invert"></div>

      <div class="social-links">
        <ul>
          <li>
            <a
              href="https://github.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a
              href="https://twitter.com/rahulyadav139"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/rahulyadav139/"
              target="_blank"
              rel="noopener noreferrer"
              class="icon medium white"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="promotion">
        Made with <i class="fas fa-heart"></i> by Rahul Yadav
      </div>
    </footer>
    <button
      class="menu-toggler menu-toggler-show btn icon large primary circle float bottom right"
    >
      <div>
        <div><i class="fas fa-angle-up"></i></div>
        <div><i class="fas fa-angle-down"></i></div>
      </div>
    </button>
    <button
      class="menu-toggler menu-toggler-hide btn icon large primary circle float bottom right"
    >
      <i class="fas fa-times"></i>
    </button>
    <script src="../../prismjs/prism.js"></script>
  </body>
</html>
