.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
}
.nav-bar .list-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-bar .badge-container {
  top: 0.3125rem;
}

/* hamburger menu navigation */

/* mobile navigation */

.nav-bar input[type='checkbox'] {
  display: none;
}

.hamburger-icon {
  display: none;
}
.hamburger-menu {
  z-index: 51;
  transition: all 0.5s ease-in-out;
}
.hamburger-menu--hide {
  transform: translateX(-150%);
}
.hamburger-menu {
  padding: 2rem;
  width: 50%;
  height: 100vh;
  background: var(--white-color);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.95;
}
.dark-theme .hamburger-menu {
  background: var(--dark-theme-bg-color);
}

.hamburger-menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
}

.hamburger-menu .brand {
  margin-bottom: 1rem;
}
.hamburger-menu__items {
  list-style: none;
  margin-top: 2rem;
}
.hamburger-menu__item {
  font-size: 1.5rem;
  margin: 1rem auto;
  font-weight: bold;
}
.hamburger-menu__item::first-letter {
  color: var(--primary-color-dark);
  font-size: 2rem;
}
.hamburger-menu button {
  margin-top: 1rem;
}
.hamburger-menu .btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.hamburger-menu .fas {
  color: var(--primary-color);
}
.hamburger-menu .theme-container {
  margin: 1rem auto;
}

/* toggle */

/* theme toggle */
.nav-bar .nav-theme-toggle {
  position: relative;
  top: 0.3125rem;
}
.nav-bar .nav-theme-toggle__checkbox {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.nav-bar .nav-theme-toggle__label {
  cursor: pointer;
}
@media only screen and (max-width: 450px) {
  /* mobile navigation */
  .nav-bar-hamburger {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .nav-bar-hamburger div:nth-child(4) {
    margin-left: auto;
  }
  .nav-bar-hamburger .input-field-icon {
    order: 1;
    max-width: 100%;
    margin-top: 1rem;
    width: 100%;
  }

  .nav-bar-hamburger .brand__logo {
    border: none;
    font-size: 2rem;
  }
  .nav-bar-hamburger .brand__text {
    display: none;
  }
  .hamburger-menu .brand__text {
    display: block;
  }
  .nav-bar-hamburger > div:first-child {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .nav-bar-hamburger .list-items {
    gap: 1.5rem;
  }
  .hamburger-icon {
    display: block;
    color: var(--primary-color);
    font-weight: bold;
  }
  .nav-bar-hamburger .login-item {
    display: none;
  }
  .btn-container {
    margin-bottom: 1rem;
  }
  .nav-bar-hamburger .profile-item {
    display: none;
  }
}
