.rating-container {
  padding: 1rem;
  background: var(--off-white-color);
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
.rating-container input {
  display: none;
}
.rating-container label {
  font-size: 1.5rem;
  color: var(--grey-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.rating-container label:hover,
.rating-container label:hover ~ label,
.rating-container input:checked ~ label {
  color: #facd03;
}
