.container {
  flex-direction: column;
  gap: 1rem;
}
.alert {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.alert-card-color-dark {
  width: 5px;
  height: 100%;
}

.alert-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0.5rem;
}

.alert .btn-dismiss-alert {
  display: none;
}
.alert-with-dismiss .btn-dismiss-alert {
  display: inline-block;
  cursor: pointer;
}

.default-alert-trad {
  background-color: var(--default-alert-bg-color);
  color: var(--default-alert-color);
}
.default-alert-trad .alert-dark-accent-color {
  background: var(--default-alert-color);
}
.success-alert-trad {
  background-color: var(--success-alert-bg-color);
  color: var(--success-alert-color);
}

.success-alert-trad .alert-dark-accent-color {
  background: var(--success-alert-color);
}

.info-alert-trad {
  background-color: var(--info-alert-bg-color);
  color: var(--info-alert-color);
}

.info-alert-trad .alert-dark-accent-color {
  background: var(--info-alert-color);
}

.danger-alert-trad {
  background-color: var(--danger-alert-bg-color);
  color: var(--danger-alert-color);
}

.danger-alert-trad .alert-dark-accent-color {
  background: var(--danger-alert-color);
}

.warning-alert-trad {
  background-color: var(--warning-alert-bg-color);
  color: var(--warning-alert-color);
}

.warning-alert-trad .alert-dark-accent-color {
  background: var(--warning-alert-color);
}

/* alert modern */

.alert-mod {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.alert-mod .alert-mod-icon {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 0;
}
.alert-mod .alert-content__title {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.alert-mod .alert-content__details {
  font-size: 0.8rem;
}
.alert-mod .btn-dismiss-alert {
  font-size: 1.5rem;
}
.info-alert-mod .alert-mod-icon {
  background: linear-gradient(45deg, #1597e5, #56b4ee);
}
.info-alert-mod .alert-content__title {
  color: #1597e5;
}
.success-alert-mod .alert-mod-icon {
  background: linear-gradient(45deg, #80ed99, #57cc99);
}
.success-alert-mod .alert-content__title {
  color: #80ed99;
}
.update-alert-mod .alert-mod-icon {
  background: linear-gradient(45deg, #ffb830, #ffc947);
}
.update-alert-mod .alert-content__title {
  color: #ffb830;
}
.danger-alert-mod .alert-mod-icon {
  background: linear-gradient(45deg, #bd1616, #ff1700);
}
.danger-alert-mod .alert-content__title {
  color: #bd1616;
}
