<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alerts</title>
    <link rel="stylesheet" href="../../palasio-design.css" />
    <script defer src="./alert.js"></script>
  </head>
  <!-- <body class="dark-theme"> -->
  <body>
    <div class="container">
      <!-- alert with dismiss button -->

      <div class="alert alert-with-dismiss default-alert-trad">
        <div class="alert-dark-accent-color"></div>
        <div class="alert-content">
          <h5>Component library: Default Alert</h5>
          <span class="btn-dismiss-alert"
            ><i class="far fa-times-circle"></i
          ></span>
        </div>
      </div>
      <!-- standard alert -->
      <div class="alert default-alert-trad">
        <div class="alert-dark-accent-color"></div>
        <div class="alert-content">
          <h5>Component library: Default Alert</h5>
          <span class="btn-dismiss-alert"
            ><i class="far fa-times-circle"></i
          ></span>
        </div>
      </div>
      <div class="alert success-alert-trad">
        <div class="alert-dark-accent-color"></div>
        <div class="alert-content">
          <h5>
            <i class="fas fa-check-circle"></i> Component library: Success Alert
          </h5>
          <span class="btn-dismiss-alert"
            ><i class="far fa-times-circle"></i
          ></span>
        </div>
      </div>
      <div class="alert info-alert-trad">
        <div class="alert-dark-accent-color"></div>
        <div class="alert-content">
          <h5>
            <i class="fas fa-info-circle"></i> Component library: Info Alert
          </h5>
          <span class="btn-dismiss-alert"
            ><i class="far fa-times-circle"></i
          ></span>
        </div>
      </div>
      <div class="alert danger-alert-trad">
        <div class="alert-dark-accent-color"></div>
        <div class="alert-content">
          <h5>
            <i class="far fa-times-circle"></i> Component library: Danger Alert
          </h5>
          <span class="btn-dismiss-alert"
            ><i class="far fa-times-circle"></i
          ></span>
        </div>
      </div>
      <div class="alert warning-alert-trad">
        <div class="alert-dark-accent-color"></div>
        <div class="alert-content">
          <h5>
            <i class="fas fa-exclamation-circle"></i> Component library: Warning
            Alert
          </h5>
          <span class="btn-dismiss-alert"
            ><i class="far fa-times-circle"></i
          ></span>
        </div>
      </div>
    </div>
  </body>
</html>
