<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alerts</title>
    <link rel="stylesheet" href="../../palasio-design.css" />
    <script defer src="./alert.js"></script>
  </head>
  <!-- <body class="dark-theme"> -->
  <body>
    <div class="container">
      <!-- alert with dismiss button -->

      <div class="alert alert-mod alert-with-dismiss info-alert-mod">
        <span class="alert-mod-icon"><i class="bi bi-info-circle"></i></span>

        <div class="alert-content">
          <div class="alert-content__wrapper">
            <h5 class="alert-content__title">Update Information</h5>
            <p class="alert-content__details">
              To extend the sidebar to the bottom of the viewport
            </p>
          </div>
          <span class="btn-dismiss-alert"><i class="bi bi-x"></i></span>
        </div>
      </div>
      <!-- standard alert -->
      <div class="alert alert-mod info-alert-mod">
        <span class="alert-mod-icon"><i class="bi bi-info-circle"></i></span>

        <div class="alert-content">
          <div class="alert-content__wrapper">
            <h5 class="alert-content__title">Update Information</h5>
            <p class="alert-content__details">
              To extend the sidebar to the bottom of the viewport
            </p>
          </div>
          <span class="btn-dismiss-alert"><i class="bi bi-x"></i></span>
        </div>
      </div>
      <div class="alert alert-mod success-alert-mod">
        <span class="alert-mod-icon"><i class="bi bi-check-circle"></i></span>

        <div class="alert-content">
          <div class="alert-content__wrapper">
            <h5 class="alert-content__title">Successful Update</h5>
            <p class="alert-content__details">
              To extend the sidebar to the bottom of the viewport
            </p>
          </div>
          <span class="btn-dismiss-alert"><i class="bi bi-x"></i></span>
        </div>
      </div>
      <div class="alert alert-mod update-alert-mod">
        <span class="alert-mod-icon"
          ><i class="bi bi-exclamation-circle"></i
        ></span>

        <div class="alert-content">
          <div class="alert-content__wrapper">
            <h5 class="alert-content__title">Update Problem</h5>
            <p class="alert-content__details">
              To extend the sidebar to the bottom of the viewport
            </p>
          </div>
          <span class="btn-dismiss-alert"><i class="bi bi-x"></i></span>
        </div>
      </div>
      <div class="alert alert-mod danger-alert-mod">
        <span class="alert-mod-icon"><i class="bi bi-x-circle"></i></span>

        <div class="alert-content">
          <div class="alert-content__wrapper">
            <h5 class="alert-content__title">Can't Update</h5>
            <p class="alert-content__details">
              To extend the sidebar to the bottom of the viewport
            </p>
          </div>
          <span class="btn-dismiss-alert"><i class="bi bi-x"></i></span>
        </div>
      </div>
    </div>
  </body>
</html>
