<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Palasio Designs</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/night-owl.min.css"
      integrity="sha512-i5X6Fdn/ZqvGSqPrdMa3FgcpXM/Nr6YccSKFYT93zljl/HZDEpvBbE5Pxp91eiWGccZLrL/LDQJd7fjTRYsVaA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../../palasio-designs.css" />
    <link rel="stylesheet" href="../../shared.css" />
    <link rel="stylesheet" href="../../documentation.css" />
    <script defer src="./alert.js"></script>

    <script defer src="../../app.js"></script>
  </head>
  <body>
    <!-- header -->
    <header class="header-desktop">
      <nav>
        <ul>
          <li>
            <div class="brand-logo">
              <i class="fas fa-angle-left"></i><i class="fas fa-globe"></i
              ><i class="fas fa-angle-right"></i>
            </div>
          </li>
          <li><a href="/">Home</a></li>
          <li class="active-page">
            <a href="./documentation.html">Documentation</a>
          </li>
        </ul>
      </nav>

      <div class="theme-toggle">
        <input
          type="checkbox"
          class="theme-toggle__checkbox"
          id="theme-toggle"
        />
        <label class="theme-toggle__label" for="theme-toggle">
          <span> <i class="fas fa-moon"></i></span>
          <span> <i class="fas fa-sun"></i></span>
          <span class="ball"></span>
        </label>
      </div>
    </header>

    <section class="documentation-section">
      <main class="documentation-section__main">
       
          <h1 class="title">Alert</h1>
          <p class="paragraph">
            Alerts are used to attract user's attention for important information without interrupting the user's flow.
          </p>
          <h3 class="subtitle">Standard Alert</h3>
          <p class="paragraph">There are 4 different types of alert available in this library. Add specific class to get desire alert. Classes are <span class="css-class">info</span>, <span class="css-class">success</span>, <span class="css-class">update</span> and <span class="css-class">danger</span>. You can customize alert what you want with setting different icon with different alert. Put icon under <span class="css-class">alert-icon</span> class span.
          You can copy html part from below code snippet.</p>
          <div class="component-container">
            <div class="component-container__actions">
              <button
                class="active component-container__actions__btn-live-demo"
              >
                Live Demo</button
              ><button class="component-container__actions__btn-code-snippet">
                Code Snippet
              </button>
            </div>
            <div class="component-container__live-demo">
              <!-- standard alert -->

              <!-- information alert -->
              <div class="alert info">
                <span class="alert-icon"
                  ><i class="bi bi-info-circle"></i
                ></span>

                <div>
                  <h5 class="alert-title">Update Information</h5>
                  <p class="alert-details">
                    To extend the sidebar to the bottom of the viewport
                  </p>
                </div>
              </div>

              <!-- success alert -->

              <div class="alert success">
                <span class="alert-icon"
                  ><i class="bi bi-check-circle"></i
                ></span>

                <div>
                  <h5 class="alert-title">Successful Update</h5>
                  <p class="alert-details">
                    To extend the sidebar to the bottom of the viewport
                  </p>
                </div>
              </div>

              <!-- update alert -->

              <div class="alert update">
                <span class="alert-icon"
                  ><i class="bi bi-exclamation-circle"></i
                ></span>

                <div>
                  <h5 class="alert-title">Update Information</h5>
                  <p class="alert-details">
                    To extend the sidebar to the bottom of the viewport
                  </p>
                </div>
              </div>

              <!-- danger alert -->

              <div class="alert danger">
                <span class="alert-icon"><i class="bi bi-x-circle"></i></span>
                <div>
                  <h5 class="alert-title">Can't Update</h5>
                  <p class="alert-details">
                    To extend the sidebar to the bottom of the viewport
                  </p>
                </div>
              </div>
            </div>

            <div class="component-container__code-snippet">
              <pre>
              <code class="html">
<!-- alert structure -->

<div class="alert info">
  <span class="alert-icon"><i class="bi bi-info-circle"></i></span>
  <div>
    <h5 class="alert-title">Update Information</h5>
    <p class="alert-details">
      To extend the sidebar to the bottom of the viewport
    </p>
  </div>
</div>
<!-- icons for different alert -->

<!-- info -->
<i class="bi bi-info-circle"></i>

<!-- success -->
<i class="bi bi-check-circle"></i>

<!-- update -->
<i class="bi bi-exclamation-circle"></i>

<!-- danger -->
<i class="bi bi-x-circle"></i>


              </code>
            </pre>
            </div>
          </div>
          <div class="hr-line fad"></div>
          <h3 class="subtitle">Alert with Dismiss Button</h3>
          <p class="paragraph">Add class <span class="css-class">dismiss</span> to add dismiss functionality to the alert. You can change dismiss button icon as per your choice. Add desired icon under <span class="css-class">btn-dismiss-alert</span> span. </p>
          <div class="component-container">
            <div class="component-container__actions">
              <button
                class="active component-container__actions__btn-live-demo"
              >
                Live Demo</button
              ><button class="component-container__actions__btn-code-snippet">
                Code Snippet
              </button>
            </div>

            <div class="component-container__live-demo">
              <!-- alert with dismiss button -->

              <div class="alert info dismiss">
                <span class="alert-icon"
                  ><i class="bi bi-info-circle"></i
                ></span>

                <div>
                  <h5 class="alert-title">Update Information</h5>
                  <p class="alert-details">
                    To extend the sidebar to the bottom of the viewport
                  </p>
                </div>

                <span class="btn-dismiss-alert"><i class="bi bi-x"></i></span>
              </div>
            </div>
            <div class="component-container__code-snippet">
              <pre>
              <code class="html">

<div class="alert info">
  <span class="alert-icon"><i class="bi bi-info-circle"></i></span>
  <div>
    <h5 class="alert-title">Update Information</h5>
    <p class="alert-details">
      To extend the sidebar to the bottom of the viewport
    </p>
  </div>
  <!-- alert dismiss button -->
  <span class="btn-dismiss-alert"><i class="bi bi-x"></i></span>
</div>

              </code>
            </pre>
              <h5 class="js-heading">JavaScript:</h5>
              <pre>
               <code class="js">
                 //alert dismiss functionality

const btnDismiss = document.querySelector('.btn-dismiss-alert');
const alert = document.querySelector('.alert');

btnDismiss.addEventListener('click', () => {
  alert.style.display = 'none';
});
               </code>
             </pre>
            </div>
          </div>
     
      </main>
      <!-- sidebar -->
      <aside class="documentation-section__aside">
        <div class="table-of-contents">
          <ul class="main-list">
            <li>Get started</li>
            <li>
              <ul>
                <li><a href="../../documentation.html">Usage</a></li>
              </ul>
            </li>
            <li>Components</li>
            <li>
              <ul>
                <li><a href="../avatar/index.html">Avatar</a></li>
                <li><a href="./index.html">Alert</a></li>
                <li><a href="../badge/index.html">Badge</a></li>
                <li><a href="../button/index.html">Buttons</a></li>
                <li><a href="../card/index.html">Card</a></li>
                <li><a href="../image/index.html">Image</a></li>
                <li><a href="../input/index.html">Input</a></li>
                <li><a href="">Text Utilities</a></li>
                <li><a href="">Lists</a></li>
                <li><a href="">Navigation</a></li>
                <li><a href="">Modal</a></li>
                <li><a href="">Rating</a></li>
                <li><a href="">Toast/Notify/Snackbar</a></li>
                <li><a href="">Grids</a></li>
                <li><a href="">Slider</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </aside>
    </section>

    <!-- footer -->

  <footer class="footer">
      <h1 class="slogan">Make an impact and create something awesome.</h1>
      <div class="hr-line fad primary-invert"></div>

      <div class="social-links">
        <ul>
          <li>
            <a href="https://github.com/rahulyadav139" target="_blank" rel="noopener noreferrer" class="icon medium white"
              ><i  class="fab fa-github"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/rahulyadav139" target="_blank" rel="noopener noreferrer" class="icon medium white"
              ><i  class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/rahulyadav139/" target="_blank" rel="noopener noreferrer" class="icon medium white"
              ><i  class="fab fa-linkedin-in"></i
            ></a>
          </li>
        </ul>
      </div>
      <div class="promotion">
        Made with <i class="fas fa-heart"></i> by Rahul Yadav
        </a>
      </div>
    </footer>
    <button class="menu-toggler menu-toggler-show btn icon large primary circle float bottom right"><div><div><i class="fas fa-angle-up"></i></div><div><i class="fas fa-angle-down"></i></div></div></button>
    <button class="menu-toggler menu-toggler-hide btn icon large primary circle float bottom right"><i class="fas fa-times"></i></button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  </body>
</html>
